<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="Browser-Options">
            <section name="Chrome" type="System.Configuration.NameValueSectionHandler" />
            <section name="Chrome-Testing" type="System.Configuration.NameValueSectionHandler" />
            <section name="Chrome-Remote" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetSectionHandler, log4net" />
    </configSections>
    <Browser-Options>
        <Chrome-Testing>
            <add key="browser" value="Chrome"/>
            <add key="maximized" value="--start-maximized" />
            <add key="disable-notifications" value="--disable-notifications" />
            <add key="disable-infobars" value="--disable-infobars" />
            <add key="window-size" value="--window-size=2048,1080" />
        </Chrome-Testing>
        <Chrome>
            <add key="browser" value="Chrome"/>
            <add key="headless" value="--headless" />
            <add key="disable-notifications" value="--disable-notifications" />
            <add key="disable-infobars" value="--disable-infobars" />
            <add key="window-size" value="--window-size=2048,1080" />
        </Chrome>
        <Chrome-Remote>
            <add key="browser" value="Chrome"/>
            <add key="no-sandbox" value="--no-sandbox" />
            <add key="headless" value="--headless" />
            <add key="window-size" value="--window-size=2048,1080" />
        </Chrome-Remote>
    </Browser-Options>
    <log4net configSource="log4net.config" />
</configuration>
